.container {
  max-width: 1200px;
  margin: 0 auto;
}
.items {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.sortBtn {
  max-width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
