.container {
    max-width: 1200px;
    margin: 0 auto;
}
.items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.sortBtn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
