.header {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.12);
    margin-bottom: 50px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p {
    color: black;
    font-family: 'Gluten';
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}
.nav {
    display: flex;
    align-items: center;
}
.ul {
    display: flex;

    align-items: center;
    column-gap: 15px;
    padding-right: 20px;
}
.li {
    cursor: pointer;
    color: black;
    font-family: 'Gluten';
    font-size: 18px;
    font-weight: 700;
    transition: 500ms;
    position: relative;
    &:hover {
        opacity: 0.5;
    }
}
.liDF {
    display: flex;
    align-items: center;
}
.li:focus::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    border-bottom: 2px solid gray;
    display: block;
    transition: border-color 0.3s ease;
    outline: none; /* Убираем стандартное подчеркивание при фокусе */
}
