.btn {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 10px 15px;
  bottom: 15px;
  right: 15px;
  border: 1px solid #bcbcbc;
  border-radius: 15px;
  transition: 500ms;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: black;
}
.btnIn {
  position: absolute;
  background-color: rgb(188, 186, 186);
  color: black;
  font-size: 14px;
  padding: 10px 15px;
  bottom: 15px;
  right: 15px;
  border: 1px solid #bcbcbc;
  border-radius: 15px;
  transition: 500ms;
  cursor: pointer;
}
.btnIn:hover {
  color: white;
  background-color: rgb(150, 122, 122);
}
